<div class="banner_top_slide">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="portion"><img src="assets/images/h-t-s1.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/h-t-s2.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/h-t-s1.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/h-t-s2.jpg" alt=""></div>
    </ion-slide>
  </ion-slides>
</div>
